@import "tailwindcss";

@theme {
  --font-fira-light: "FiraCodeLight", monospace;
  --font-fira-bold: "FiraCodeBold", monospace;
  --font-consolas: "Consolas", monospace;
  --font-inter-bold: "InterBold", sans-serif;
  --color-abu-100: #fafafa;
}